@page  "/Blog/Chinhsuabaiviet/{id:int?}"

@model cs58_Razor_09.Pages_Blog.EditModel

@{
    ViewData["Title"] = "Chỉnh sửa bài viết";

}

<h1>@Html.DisplayNameFor(m=> m.Article.Titile)</h1>
<h1>@Html.DisplayFor(m => m.Article.Titile)</h1>


<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Article.ID" />
            <div class="form-group">
                <label asp-for="Article.Titile" class="control-label"></label>
                <input asp-for="Article.Titile" class="form-control" />
                <span asp-validation-for="Article.Titile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Created" class="control-label"></label>
                <input asp-for="Article.Created" class="form-control" />
                <span asp-validation-for="Article.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Content" class="control-label"></label>
                <textarea asp-for="Article.Content" class="form-control"> </textarea>
                <span asp-validation-for="Article.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Danh Sách Sản Phẩm</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
